@font-face {
    font-family: "Noto Sans";
    src: url(/NotoSans-Regular.ttf);
}

* {
    color: #d8e1e7;
    font-family: "Noto Sans", sans-serif;
}

label {
    font-weight: bold;
}

button,
button i,
input,
select {
    color: black;
}

html {
    height: 100%;
}

body {
    background: #2b2d2e;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.row>* {
    margin: 4px;
}

.recipes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.recipe {
    margin: 8px;
    padding: 4px;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    width: 140px;
}
