@font-face {
    font-family: "Noto Sans";
    src: url(/NotoSans-Regular.ttf);
}

* {
    color: #d8e1e7;
    font-family: "Noto Sans", sans-serif;
}

html {
    height: 100%;
}

body {
    background: #2b2d2e;
}
